// Primary colors
$dark-cyan: hsl(185, 75%, 39%);
$verdarkdesblue: hsl(229, 23%, 23%);
$darkgrayishblue: hsl(227, 10%, 46%);
$white : #ffffff;

// Neutral colors
$darkgray: hsl(0, 0%, 59%);

// Font sizes
/*
$font-sm:
$font-med:
$font-lg:
$font-xl:
*/